.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(53, 3, 3, 0.2);
    margin: 1em;
    user-select: none;
   }
   
   .activeCard{
       color: red;
       background: pink;
   }
   .cardblock{
    display: inline-block;
    color: rgb(148, 24, 24)78, 32, 32);
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(61, 241, 6, 0.2);
    user-select: none;
   }
   
   .textshow {
    font-size: 22px;
    color: royalblue;
    text-align: center;
  }